* {
  box-sizing: border-box;
}
body {
  background-color: rgb(0, 0, 0); /* เปลี่ยนสีพื้นหลังเป็นสีน้ำเงินอ่อน */
}
.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
}

html {
  font-family: "Lucida Sans", sans-serif;
  scroll-behavior: smooth;
}

.container {
  max-width: 1500px; /* Increase the maximum width as needed */
  margin: 0 auto;
  padding: 20px;
}

.side-container {
  width: calc((100% - 1500px) / 2); /* Adjust the calculation based on the container width */
  padding: 20px;
  box-sizing: border-box;
}


.header {
  background-color: #5f5f5f;
  color: #ffffff;
  padding: 15px;

  border-radius: 15px;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {
  padding: 15px;
  margin-bottom: 20px;
  background-color: #5f5f5f;
  color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}

.menu li:hover {
  background-color: #5f5f5f;
}

.aside {
  background-color: #5f5f5f;
  padding: 30px;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}
.aside2 {
  background-color: #5f5f5f;
  padding: 30px;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  text-align: center;
  margin-left: auto;
}
.content {
  text-align: center;
}

.video-container {
  display: flex;
  justify-content: center;
}

.video-frame {
  border: 5px solid #ffffff; /* สีขอบกรอบ */
  border-radius: 10px; /* ขอบกรอบมนวน */
  overflow: hidden; /* ให้วิดีโอที่เกินขอบกรอบถูกตัดออก */
  max-width: 80%; /* กำหนดขนาดสูงสุดของกรอบ */
  margin:  auto; /* จัดให้กรอบอยู่ตรงกลาง */
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.image-container img {
  width: 40%;
  height: 60%;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid #ffffff;
  border-radius: 15px;
  overflow: hidden;
}





.footer {
  background-color: #5f5f5f;
  color: #ffffff;
  text-align: center;
  font-size: 12px;
  padding: 10px;
}

/* Responsive Grid */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}

@media only screen and (min-width: 768px) {
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}